<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <title></title>

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">


    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>

    
    <!-- Custom styles for this template -->
    <link href="https://getbootstrap.com/docs/5.1/examples/dashboard/dashboard.css" rel="stylesheet">
  </head>
  <body>
    
<header class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
  <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3" href="#">Company name</a>
  <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <input class="form-control form-control-dark w-100" type="text" placeholder="Search" aria-label="Search">
  <div class="navbar-nav">
    <div class="nav-item text-nowrap">
      <a class="nav-link px-3" href="#">Sign out</a>
    </div>
  </div>
</header>

<div class="container">
  <div class="row">
    <!-- <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse"> -->
    <!--   <div class="position-sticky pt-3"> -->
    <!--     <ul class="nav flex-column"> -->
    <!--       <li class="nav-item"> -->
    <!--         <a class="nav-link active" aria-current="page" href="#"> -->
    <!--           <span data-feather="home"></span> -->
    <!--           Dashboard -->
    <!--         </a> -->
    <!--       </li> -->
    <!--       <li class="nav-item"> -->
    <!--         <a class="nav-link" href="#"> -->
    <!--           <span data-feather="file"></span> -->
    <!--           Orders -->
    <!--         </a> -->
    <!--       </li> -->
    <!--       <li class="nav-item"> -->
    <!--         <a class="nav-link" href="#"> -->
    <!--           <span data-feather="shopping-cart"></span> -->
    <!--           Products -->
    <!--         </a> -->
    <!--       </li> -->
    <!--       <li class="nav-item"> -->
    <!--         <a class="nav-link" href="#"> -->
    <!--           <span data-feather="users"></span> -->
    <!--           Customers -->
    <!--         </a> -->
    <!--       </li> -->
    <!--       <li class="nav-item"> -->
    <!--         <a class="nav-link" href="#"> -->
    <!--           <span data-feather="bar-chart-2"></span> -->
    <!--           Reports -->
    <!--         </a> -->
    <!--       </li> -->
    <!--       <li class="nav-item"> -->
    <!--         <a class="nav-link" href="#"> -->
    <!--           <span data-feather="layers"></span> -->
    <!--           Integrations -->
    <!--         </a> -->
    <!--       </li> -->
    <!--     </ul> -->

    <!--     <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted"> -->
    <!--       <span>Saved reports</span> -->
    <!--       <a class="link-secondary" href="#" aria-label="Add a new report"> -->
    <!--         <span data-feather="plus-circle"></span> -->
    <!--       </a> -->
    <!--     </h6> -->
    <!--     <ul class="nav flex-column mb-2"> -->
    <!--       <li class="nav-item"> -->
    <!--         <a class="nav-link" href="#"> -->
    <!--           <span data-feather="file-text"></span> -->
    <!--           Current month -->
    <!--         </a> -->
    <!--       </li> -->
    <!--       <li class="nav-item"> -->
    <!--         <a class="nav-link" href="#"> -->
    <!--           <span data-feather="file-text"></span> -->
    <!--           Last quarter -->
    <!--         </a> -->
    <!--       </li> -->
    <!--       <li class="nav-item"> -->
    <!--         <a class="nav-link" href="#"> -->
    <!--           <span data-feather="file-text"></span> -->
    <!--           Social engagement -->
    <!--         </a> -->
    <!--       </li> -->
    <!--       <li class="nav-item"> -->
    <!--         <a class="nav-link" href="#"> -->
    <!--           <span data-feather="file-text"></span> -->
    <!--           Year-end sale -->
    <!--         </a> -->
    <!--       </li> -->
    <!--     </ul> -->
    <!--   </div> -->
    <!-- </nav> -->

    {% block content %}
    {% endblock %}
  </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>

  </body>
</html>
