{% extends 'base.html' %}

{% block content %}
    <main class="col-md-12 ms-sm-auto col-lg-12 px-md-4">
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Dashboard</h1>
        <div class="btn-toolbar mb-2 mb-md-0">
          <button id="newInstance" type="button" class="btn btn-primary">
            New instance
          </button>
        </div>
      </div>

      <div class="table-responsive">
        <table class="table table-striped table-sm">
          <thead>
            <tr>
              <th scope="col">DNS</th>
              <th scope="col">Status</th>
            </tr>
          </thead>
          <tbody id="report-table">
          </tbody>
        </table>
      </div>
    </main>
    <script>
      function createInstance() {
	  fetch('/api/create')
	      .then(response => response.json())
	      .then(data => reportAll());
      }

      function getElementRow(line) {
	  const innerHTML = "<td><a href='http://" + line.dns + ":3000'>" + line.dns + "</a></td><td>" + line.status + "</td>";
	  const newRow = document.createElement('tr');
	  newRow.id = line.jobId;
	  newRow.innerHTML = innerHTML;
	  return newRow;
      }

      function reportAll() {
	  fetch('/api/')
	      .then(response => response.json())
	      .then(data => {
		  const table = document.getElementById('report-table');
		  table.innerHTML = "";

		  for (const line of data) {
		      table.appendChild(getElementRow(line));
		  }
	      })
      }
      window.onload = function () {
	  document.getElementById("newInstance").onclick = createInstance;
	  reportAll();
	  setInterval(reportAll, 1000 * 30);
      }

    </script>
{% endblock %}
